@media (max-width: 991px)
    .carousel
        .next
            right: -10px
        .prev
            left: -10px
    .pageup
        img
            width: 70px
            height: 70px
    .footer__info
        height: 250px


@media (max-width: 767px)
    .header
        padding: 10px
    .promo
        padding-right: 10px
        background: url('../img/main-min.jpg') left (center / cover) no-repeat
    .advantages
        padding-right: 10px
    .consultation
        padding-left: 10px
    .carousel
        img
            width: 500px
            height: 400px
        .next
            right: 0px
        .prev
            left: 0px
    .catalog__content
        padding-right: 80px
        padding-left: 80px
    .feed
        padding-left: 30px


@media (max-width: 575px)
    .header__phone
        font-size: 16px
    .promo
        padding-right: 20px
    .advantages__item
        max-width: 197px
    .advantages__descr
        font-size: 13px
    .carousel
        img
            width: 400px
            height: 300px
    .catalog__tab
        width: 170px
    .catalog__content
        padding-left: 150px
    .catalog-item
        width: 310px
        &__list
            margin-left: -50px