@import "variables"
@import "promo"
@import "header"
@import "buttons"
@import "advantages"
@import "titles"
@import "consultation"
@import "forms"
@import "carousel"
@import "catalog"
@import "feed"
*
    font-family: 'Museo Sans Cyrl', sans-serif

.container 
    position: relative
    max-width: 950px
    margin: 0 auto

